/* css */

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}


/* .parallax {
    /* The image used */


/* background-image: url('assets/images/image1.jpg'); */


/* Full height */


/* height: 100%; */


/* Create the parallax scrolling effect */


/* background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    /* background: url("assets/images/image1.jpeg"); */
    /* background-image: url("assets/images/image1.jpg"); */
    /* background-image: url("/Users/melaniebott/Desktop/BOOTCAMP/HOMEWORK/09-portfolio-update/assets/images/image1.jpg"); */
    background-image: url("https://github.com/MelanieBott2691/09-portfolio-update/blob/46a2e39383dc3f0411116490ac4306e8c6fa3378/assets/images/image1.jpg");
    min-height: 100%;
}

.pimg2 {
    /* background: url("assets/images/image2.jpg"); */
    /* Photo by Felix Mittermeier from Pexels */
    background-image: url("assets/images/image2.jpg");
    background-image: url("/Users/melaniebott/Desktop/BOOTCAMP/HOMEWORK/09-portfolio-update/assets/images/image2.jpg");
    min-height: 400px;
}

.pimg3 {
    /* background: url("assets/images/image3.jpg"); */
    /* background-image: url("assets/images/background1.jpeg"); */
    background-image: url("/Users/melaniebott/Desktop/BOOTCAMP/HOMEWORK/09-portfolio-update/assets/images/background1.jpeg");
    min-height: 400px;
}

#sections {
    font-size: 200px !important;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 2vw;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: white;
    padding: 20px;
}

.ptext .border.trans {
    background-color: transparent;
    color: black;
}

.border-logo {
    opacity: 10;
    background-image: url("assets/images/melanielogo.png");
}

@media(max-width:568px) {
    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}


/* content css */

.btn-row {
    font-size: 40%;
    border-radius: 4px;
}

h2 {
    color: rgb(70, 67, 67);
    text-shadow: 2px 2px 4px #0000;
}

#moveup {
    align-items: center;
    height: 40px;
    background-color: #0000;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 8px;
}


/* home and contact buttons */

#page-icons {
    align-items: center;
    height: 20% !important;
    margin-bottom: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    position: relative;
    float: left;
    width: 50%;
    margin: 10px 0 15px;
    overflow: auto;
    padding: 10px;
}


/* CONTACT FORM CSS */

h1 {
    color: rgb(116, 137, 158);
    text-align: center;
}

.contact-section {
    background: url(assets/images/background1.jpeg) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    color: rgb(116, 137, 158);
}

.contact-section {
    vertical-align: auto;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: rgb(116, 137, 158);
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text {
    /* resize: none; */
    height: 120px;
    border-radius: 4px;
}

.contact-form-btn {
    float: center;
    border: 40px;
    /* background-color: rgb(168, 122, 164); */
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    width: 80px;
    height: 40px;
}

.contact-form-btn:hover {
    background-color: #256996;
}


/* footer  */

.footer-copyright {
    background-color: #EE6E73;
    color: white;
}

.fab {
    color: white;
}

.footer-copyright {
    background-color: #302b2b !important;
    color: white;
    font-size: 12px;
    height: 40px !important;
    text-align: center !important;
    padding-top: 10px;
}

p {
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}


/* resume css */

h6 {
    text-align: center;
}

#resume {
    border-radius: 4px;
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
    background: white;
}


/* Make the image fit the box */

#resume img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

#resume::after {
    content: '';
    position: absolute;
    z-index: -1;
    /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    width: 70%;
    left: 15%;
    /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}